apiVersion: v1
kind: ConfigMap
metadata:
  name: device-c-configmap
  namespace: sample-dev-ns
data:
  example_com_deviceC.yaml: |
      devicename: tty3
      devices:
        '*':
          - id: DevC1
            healthy: true
            numanode: 0
          - id: DevC2
            healthy: true
            numanode: 0
          - id: DevC3
            healthy: true
            numanode: 0
          - id: DevC4
            healthy: true
            numanode: 0
          - id: DevC5
            healthy: true
            numanode: 0
          - id: DevC6
            healthy: true
            numanode: 0
          - id: DevC7
            healthy: true
            numanode: 0

